<html>
	<head>
		<meta charset='UTF-8'>
		<title> Pagina Web 3.0</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
      <link rel="stylesheet" href="../css/materialize.min.css">

	</head>

	<body>
  <header>
<div class="row ">
<div class="botones"> 
      <img src="../image/descarga2.PNG" id="minimizar">
      <img src="../image/descarga1.PNG" id="fullscreen">
      <img src="../image/descarga.PNG"  id="cerrar">
  </div>
</div>


    
  <nav>
    <div class="nav-wrapper teal darken-1">
      <div id="imagenprincipal">
        <img src="../image/2.jpg" alt="" class="circle responsive-img">

      </div>
      <ul id="nav-mobile" class="right">
       <li><a href="../View/login.html"  >Cerrar seccion</a></li>
        <li><a href="../View/VentanaColaboradores.html" >Colaboradores</a></li>
        <li><a href="../View/VentanaCrearColaborador.html"  > Crear Colaborador</a></li>
          <li><a href="../View/Configuracion.html" >Configuracion</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1" id="VentanaActual" >Proyectos</a></li>
      </ul>
    </div>
  </nav> 
  </header>
   <h3>Proyectos finalizados </h3>
    <div class="row" id="Proyectos">
      <div class="col l1" ></div>
      <div class="col l2 m2 s12" id="tipo1" >
      </div>
      <div class="col l2 m2 s12" id="tipo2" >
      </div>
      <div class="col l2 m2 s12" id="tipo3" >
      </div>
      <div class="col l2 m2 s12" id="tipo4" >
      </div>
      <div class="col l2 m2 s12" id="tipo5" >
      </div>


    <script src="../js/jquery-3.2.1.js"></script>
    <script src="../js/jquery-latest.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/jquery-ui.js"></script>
  
        

  
  <ul id="dropdown1" class="dropdown-content">
      
        <li><a href="../View/ProyectosFinalizados.html" >finalizados</a></li>
         <li><a href="../index.html" > Activos</a></li>
         <li><a href="../View/VentanaNuevoProyecto.html" >Crear Proyecto</a></li>
        
</ul>  
<script>
$(".dropdown-trigger").dropdown();
</script>
<script >
	const comun = require('../js/comun.js')
		
	$( document ).ready(comun.proyectosCarga("SELECT id, title, image FROM project WHERE statusproject = 'Finalizado'"))
	pcRenderer = require('electron').ipcRenderer
	comun2 = require('../js/comun.js')
		
	String.prototype.format = comun2.formatString

	document.getElementById('minimizar').addEventListener("click", function(){ ipcRenderer.send('minimizar'); })
	document.getElementById('fullscreen').addEventListener("click", function(){ ipcRenderer.send('fullscreen'); })
	document.getElementById('cerrar').addEventListener("click", function(){ ipcRenderer.send('cerrar'); })

	comun2.sql("SELECT * FROM logueado")
	    .then(result => 
	    {
	         
	      comun2.sql("SELECT image FROM admint WHERE admint = '"+result.rows[0].usuario+"'")
	        .then(result => 
	        {
	          
	          if(result.rows.length>0)
	          {
	            
	            $("#imagenprincipal").attr('src',result.rows[0].image)  
	          }
	          else
	          {
	            $("#imagenprincipal").attr('src',comun2.default.image)
	          }
	        })
	      
	    })
	    .catch(function()
	    {
	      
	    })
	    
    </script>
	</body>

</html>
